.gallery img{
    width: 20%;
    padding-bottom: 100px;
}
body
{
    background-color:blanchedalmond;
    
}
#menu{
    width:100%;
    height:40px;
    background-color:aliceblue;
    padding-top: 12px;
}
#menu a{
    color:brown;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    text-decoration:none;
    font-weight: 800px;
     
    padding-left: 20px;
    padding-left: 20px;
}

img {
  border: 5px solid #555;
}
table{
    background-color:blanchedalmond;
}
h1{
    font-style: italic;
    color:crimson
}
